/* The full form of CSS is Cascading Style Sheet. */
div {
    color: red;
    background: grey;
}

span {
    color: blueviolet;
}

p {
    column-rule-color: darkred;
}

body {
    background-color: silver;
}