* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI";
}

nav {
  font-weight: 380;
  font-style: normal;
  display: flex;
  align-content: space-around;
  place-self: center;
  width: 80vw;
  height: 14vh;
}

nav ul {
  display: flex;
  place-content: center;
  place-self: center;
  gap: 20px;
  margin: 0px 0px 0px 18vw;
  flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
  place-self: center;
}

nav img.mainlogo {
  align-self: center;
  width: 176px;
  height: 57px;
  margin: 0px 106px 0px 0px;
}

img.langlogo {
  width: 25px;
}

img.searchlogo {
  width: 18px;
}

span.items {
  display: flex;
  place-content: center;
}

span.logos {
  display: flex;
  place-content: center;
}

nav ul li span img.arrowdown {
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
  left: 4px;
}
div.container {
  display: grid;
  /* justify-items: center; */
  /* align-items: center; */
  height: 100vh;
  width: 100vw;
  /* grid-row: 1; */
  /* grid-column: 1; */
}
div.maintext {
  display: flex;
  align-content: space-around;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}
div.maintext h1 {
  font-weight: normal;
  text-align: center;
  font-size: 3vw;
  width: 55vw;
  text-decoration: #222222;
  margin-top: 15px;
  padding: 10px;
}
span.ue {
  font-weight: bold;
  text-decoration-color: black;
}
div.secondtext {
  display: flex;
  align-content: space-around;
  justify-content: center;
  width: 100vw;
}
div.secondtext h3 {
  font-weight: normal;
  text-align: center;
  font-size: 1.3vw;
  width: 60vw;
}
div.maclinux {
  width: 100vw;
  display: flex;
  place-content: center;
  margin-top: 50px;
}
.download-button {
  background-color: #00c0d9;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
}
div.gridheader {
  display: flex;
  width: 60vw;
  align-content: center;
  place-self: center;
  gap: 20px;
  margin: 70px 10px 10px 10px;
}
div.gridheader img {
  width: 60px;
}
div.gridheader h3 {
  font-weight: normal;
  font-size: 13px;
}
div.gridheader h3 span {
  font-size: 24px;
}
div.grid {
  display: grid;
  width: 60vw;
  place-self: center;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* border: 2px solid black; */
  margin: 0;
  padding: 0;
  gap: 20px;
}
@media (max-width: 1024px) {
  div.grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
div.langcards {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 275px;
  height: 175px;
  /* border: 2px solid red; */
  justify-self: center;
  align-items: center;
}
div.grid div.langcards div.lang {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}
div.langcards .downloadbutton a {
  display: inline-block;
  background-color: #5cb85c;
  color: #fff;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 40px;
  text-decoration: none;
}
div.langcards .sha {
  word-break: break-word;
  font-size: 10px;
  margin-top: 10px;
  cursor: pointer;
  line-height: 1rem;
}

div.langcards .value {
  word-break: break-word;
  font-size: 10px;
  margin-top: 10px;
  cursor: pointer;
  line-height: 1rem;
  font-size: 8px;
  text-align: center;
}
div.langcards .langvalue {
  word-break: break-word;
  font-size: 12px;
  margin-top: 30px;
  cursor: pointer;
  line-height: 1rem;
  position: absolute;
  top: 10px;
  font-size: 12px;
}
